.list-table-format{
  display:grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  border: 1px solid #cacaca;
  font-size: 13px;
}

.list-table-format .title{
  background-color: #f9f9f9;
}

.list-table-format img{
  width: 80px;
  border-radius: 8px;
}

@media (max-width:600px) {
  .list-table-format{
    grid-template-columns: 1fr 3fr 1fr;
    gap: 15px;
  }
  .list-table-format title{
    display: none;
  }
}



.actions {
  display: flex;
  gap: 10px;
}

.actions button {
  background: none;
  border: none;
  cursor: pointer;
}

.actions .trash {
  color: red;
}

.actions .edit {
  color: blue;
}

.update-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.cancel-button {
  background-color: #f44336; /* Red */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}